# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.venv/

# Datos y artefactos generados localmente
staticfiles/
db.sqlite3

# Variables de entorno
.env

# Dependencias y artefactos de Tailwind
node_modules/

# Herramientas y sistema operativo
.idea/
.vscode/
.DS_Store
Thumbs.db
